- content_for :title do
	Kakitube.com | Edit #{@siri.title} - #{@season.title}
- content_for :meta_tags do
	= render :partial => 'application/meta_tags', :locals => { :type => "website", :title => "KakiTube | Edit #{@siri.title} - #{@season.title}", :url => request.url, :description => "KakiTube | Edit #{@siri.title} - #{@season.title}", :canonical => request.url, :og_title => "KakiTube | Edit #{@siri.title} - #{@season.title}", :og_description => "KakiTube | Edit #{@siri.title} - #{@season.title}" }
	
/ Page Content
.container
	.row
		.col-lg-12
			.page-header
				%h1 Edit #{@siri.title} - #{@season.title}
	.row
		.col-md-4
			= render partial: "sidebar"
		.col-md-8
			#series-list.panel.panel-default
				.panel-heading
					%h3.panel-title #{@siri.title} - #{@season.title}
				= form_for @season, url: siri_season_path, multipart: true, html: { class: "form-horizontal" } do |f|
					.panel-body
						- if @season.errors.any?
							.alert.alert-danger.alert-dismissable
								%button.close{type: "button", 'data-dismiss' => 'alert', 'alert-hidden' => 'true'} &times;
								%strong
									= pluralize(@season.errors.count, "error")
									prohibited this page from being saved:
								%ul
									- @season.errors.full_messages.each do |msg|
										%li= msg
						.row
							.col-md-12
								.form-group
									= f.label :title, "Season Title", class: "col-sm-2 control-label"
									.col-sm-10
										= f.text_field :title, :class => "form-control"
					.panel-footer
						= f.submit "Save", :class => "btn btn-primary"
						= link_to "Cancel", siri_seasons_path, class: "btn btn-default"