- content_for :title do
	Kakitube.com | Season List for #{@asian.title}
- content_for :meta_tags do
	= render :partial => 'application/meta_tags', :locals => { :type => "website", :title => "KakiTube | Season List for #{@asian.title}", :url => request.url, :description => "KakiTube | Season List for #{@asian.title}", :canonical => request.url, :og_title => "KakiTube | Season List for #{@asian.title}", :og_description => "KakiTube | Season List for #{@asian.title}" }

/ Page Content
.container
	.row
		.col-lg-12
			.page-header
				%h1 Seasons List for #{@asian.title}
	.row
		.col-md-4
			= render partial: "sidebar"
		.col-md-8
			.panel.panel-default
				.panel-heading
					%h3.panel-title
						Season list for #{@asian.title} #{link_to "Add new season", new_asian_asian_season_path, class: "btn btn-xs btn-primary pull-right", style: "color:#FFFFFF;"}
				#series-list.panel-body
					%table.table.table-bordered.table-hovered.display{id: "postLists"}
						%thead
							%tr
								%th Season Title
								%th Episode
								%th.col-md-3 Date Added
								%th.col-md-2 Action
						%tbody
							- @asian_seasons.each do |season|
								%tr
									%td= season.title
									%td= link_to pluralize(season.asian_episodes.size, "Episode"), asian_asian_season_asian_episodes_path(@asian, season), class: "btn btn-link"
									%td= season.created_at.strftime("%d %B %Y")
									%td
										.btn-group.btn-group-justified.btn-group-xs
											= link_to edit_asian_asian_season_path(@asian, season), class: "btn btn-default" do
												%span.glyphicon.glyphicon-edit{"aria-hidden" => true}
											= link_to asian_asian_season_path(@asian, season), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do
												%span.glyphicon.glyphicon-remove{"aria-hidden" => true}
				.panel-footer
					= link_to "Back", asians_path, class: "btn btn-default"
