= form_for @siri, html: { class: "form-horizontal" } do |f|
	.panel-body
		- if @siri.errors.any?
			.alert.alert-danger.alert-dismissable
				%button.close{type: "button", 'data-dismiss' => 'alert', 'alert-hidden' => 'true'} &times;
				%strong
					= pluralize(@siri.errors.count, "error")
					prohibited this page from being saved:
				%ul
					- @siri.errors.full_messages.each do |msg|
						%li= msg
		.row
			.col-md-6
				.form-group
					= f.label :name, "Series Name", class: "col-sm-2 control-label"
					.col-sm-10
						= f.text_field :name, class: "form-control", placeholder: "Series Name"
				= f.fields_for :seasons do |builder|
					= render 'season_fields', f: builder
				= link_to_add_fields "Add Seasons", f, :seasons
			.col-md-6
	.panel-footer
		= f.submit "Submit", class: "btn btn-primary"