- content_for :title do
	Kakitube.com | TV Series List
- content_for :meta_tags do
	= render :partial => 'application/meta_tags', :locals => { :type => "website", :title => "KakiTube | TV Series List", :url => request.url, :description => "KakiTube", :canonical => request.url, :og_title => "KakiTube | TV Series List", :og_description => "KakiTube" }
	
/ Page Content
.container
	.row
		.col-lg-12
			.page-header
				%h1 TV Series List
	.row
		.col-md-4
			= render partial: "sidebar"
		.col-md-8
			.panel.panel-default
				.panel-heading
					%h3.panel-title
						TV Series List #{link_to "Add new tv series", new_siri_path, class: "btn btn-xs btn-primary pull-right", style: "color:#FFFFFF;"}
				#series-list.panel-body
					%table.table.table-bordered.table-hovered.display{id: "postLists"}
						%thead
							%tr
								%th Series Name
								%th Season
								%th.col-md-3 Date Added
								%th Status
								%th.col-md-2 Action
						%tbody
							- @siris.each do |siri|
								%tr
									%td= siri.title
									%td= link_to pluralize(siri.seasons.size, "Season"), siri_seasons_path(siri), class: "btn btn-link"
									%td= siri.created_at.strftime("%d %B %Y")
									%td
										- if siri.is_on_going?
											%span.label.label-warning
												= siri.status
										- elsif siri.is_completed?
											%span.label.label-primary
												= siri.status
									%td
										.btn-group.btn-group-justified.btn-group-xs
											= link_to siri_path(siri), class: "btn btn-primary" do
												%span.glyphicon.glyphicon-eye-open{"aria-hidden" => true}
											= link_to edit_siri_url(siri), class: "btn btn-default" do
												%span.glyphicon.glyphicon-edit{"aria-hidden" => true}
											= link_to siri_path(siri), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do
												%span.glyphicon.glyphicon-remove{"aria-hidden" => true}