= form_for @episode, url: siri_season_episodes_path, html: { class: "form-horizontal" } do |f|
	.panel-body
		- if @episode.errors.any?
			.alert.alert-danger.alert-dismissable
				%button.close{type: "button", 'data-dismiss' => 'alert', 'alert-hidden' => 'true'} &times;
				%strong
					= pluralize(@episode.errors.count, "error")
					prohibited this page from being saved:
				%ul
					- @episode.errors.full_messages.each do |msg|
						%li= msg
		.row
			.col-md-12
				.form-group
					= f.label :title, "Episode Title", class: "col-sm-2 control-label"
					.col-sm-10
						= f.text_field :title, :class => "form-control"
				.form-group
					= f.label :embed, "Embed Code (source 1)", class: "col-sm-2 control-label"
					.col-sm-10
						= f.text_area :embed, :class => "form-control", rows: 5
				.form-group
					= f.label :embed2, "Embed Code (source 2)", class: "col-sm-2 control-label"
					.col-sm-10
						= f.text_area :embed2, :class => "form-control", rows: 5
				.form-group
					= f.label :embed3, "Embed Code (source 2)", class: "col-sm-2 control-label"
					.col-sm-10
						= f.text_area :embed3, :class => "form-control", rows: 5
	.panel-footer
		= f.submit "Save", :class => "btn btn-primary"
		= link_to "Cancel", siri_season_episodes_path, class: "btn btn-default"