.col-md-12.hidden-sm.hidden-xs
	= form_tag search_path, class: "", :method => :get do
		.input-group
			= text_field_tag :q, params[:q], class: "form-control input-sm", placeholder: "Search by Movie/TV Series title"
			%span.input-group-btn
				= submit_tag "Search", :name => nil, class: "btn btn-primary btn-sm"
%hr
%center
	=# link_to image_tag('ads-do.png', alt: "KakiTube", class: "img-responsive"), "https://www.digitalocean.com/?refcode=26873337513b", target: "_blank"
	%iframe{src: "http://go.padstm.com/?id=299583&t=iframe", style: "width:300px;height:250px;border:0;overflow:hidden;", class: "img-responsive"}
%hr
.fb-page{"data-href" => "https://www.facebook.com/kakitubedotcom", "data-width" => "360", "data-hide-cover" => "false", "data-show-facepile" => "true", "data-show-posts" => "false"}
	.fb-xfbml-parse-ignore
		%blockquote{ cite: "https://www.facebook.com/kakitubedotcom"}
			%a{href: "https://www.facebook.com/kakitubedotcom"} KakiTube
%hr
- cache "latest-series-update", skip_digest: true do
	#latest-update.panel.panel-default
		.panel-heading
			%h3.panel-title TV Series - Latest Update
		.panel-body
			- @latest_update.each do |siri|
				.media
					.media-left
						= link_to siri_genre_show_path(siri, view: siri.siri_genre.slug) do
							= image_tag(siri.poster_url(:avatar), class: "media-object")
					.media-body
						= link_to siri_genre_show_path(siri, view: siri.siri_genre.slug) do
							%h4.media-heading= siri.title
						=h truncate(siri.description, length: 100)