.col-md-12.hidden-sm.hidden-xs
	= form_tag search_path, class: "", :method => :get do
		.input-group
			= text_field_tag :q, params[:q], class: "form-control input-sm", placeholder: "Search by Movie/TV Series title"
			%span.input-group-btn
				= submit_tag "Search", :name => nil, class: "btn btn-primary btn-sm"
%hr
%center
	%script{:type => "text/javascript"}
		//<![CDATA[
		toroadv_key = "34449871e9d866933204f24a22c63536";
		toroadv_channel = "";
		toroadv_code_format = "ads";
		toroadv_ads_host = "//toroadvertisingmedia.com";
		toroadv_click = "";
		toroadv_custom_params = {m: encodeURIComponent(document.title)};
		toroadv_width = "300";
		toroadv_height = "250";
		document.write("<script type='text\/javascript' src='"+(location.protocol == 'https:' ? 'https:' : 'http:') + "//toroadvertisingmedia.com\/js/show_ads_toroadv.js'><\/script>");
		//]]>
%hr
.fb-page{"data-href" => "https://www.facebook.com/kakitube", "data-width" => "360", "data-hide-cover" => "false", "data-show-facepile" => "true", "data-show-posts" => "false"}
	.fb-xfbml-parse-ignore
		%blockquote{ cite: "https://www.facebook.com/kakitube"}
			%a{href: "https://www.facebook.com/kakitube"} KakiTube
%hr
- cache "latest-series-update", skip_digest: true do
	#latest-update.panel.panel-default
		.panel-heading
			%h3.panel-title TV Series - Latest Update
		.panel-body
			- @latest_update.each do |siri|
				.media
					.media-left
						= link_to siri_genre_show_path(siri, view: siri.siri_genre.slug) do
							= image_tag(siri.poster_url(:avatar), class: "media-object")
					.media-body
						= link_to siri_genre_show_path(siri, view: siri.siri_genre.slug) do
							%h4.media-heading= siri.title
						=h truncate(siri.description, length: 100)
%hr
- cache "latest-anime-update", skip_digest: true do
	#latest-update.panel.panel-default
		.panel-heading
			%h3.panel-title Anime - Latest Update
		.panel-body
			- @latest_anime_update.each do |anime|
				.media
					.media-left
						= link_to anime_genre_show_path(anime, anime_view: anime.anime_genre.slug) do
							= image_tag(anime.poster_url(:avatar), class: "media-object")
					.media-body
						= link_to anime_genre_show_path(anime, anime_view: anime.anime_genre.slug) do
							%h4.media-heading= anime.title
						=h truncate(anime.description, length: 100)
%hr
- cache "latest-asian-update", skip_digest: true do
	#latest-update.panel.panel-default
		.panel-heading
			%h3.panel-title Asian Drama - Latest Update
		.panel-body
			- @latest_asian_update.each do |asian|
				.media
					.media-left
						= link_to asian_genre_show_path(asian, asian_view: asian.asian_genre.slug) do
							= image_tag(asian.poster_url(:avatar), class: "media-object")
					.media-body
						= link_to asian_genre_show_path(asian, asian_view: asian.asian_genre.slug) do
							%h4.media-heading= asian.title
						=h truncate(asian.description, length: 100)
