.row
	.col-md-8
		.movie.latest
			- @featured.each do |f|
				= link_to genre_show_path(f, sort: f.genre.slug) do
					.gradient
					= image_tag(f.header_image_url(:standard), class: "img-responsive")
					.watch
						= link_to "Watch Now", genre_show_path(f, sort: f.genre.slug), class: "btn btn-sm btn-primary"
					.mini-desc
						%h4= f.title
						%p=h truncate(f.description, length: 200)
		%hr
		%h4 Latest Movie
		- @published_only.each do |p|
			.movie.small-movie.effect{class: cycle('', '', 'last')}
				.mask
				= link_to genre_show_path(p, sort: p.genre.slug) do
					.gradient
					= image_tag(p.poster_url(:thumb), class: "img-responsive")
					.mini-desc2
						%h4= p.title
	.col-md-4
		%center
			%img.img-responsive{src: "http://placehold.it/336x280"}
		%hr
		.fb-page{"data-href" => "https://www.facebook.com/osemnetwork", "data-width" => "360", "data-hide-cover" => "false", "data-show-facepile" => "true", "data-show-posts" => "false"}
			.fb-xfbml-parse-ignore
				%blockquote{ cite: "https://www.facebook.com/osemnetwork"}
					%a{href: "https://www.facebook.com/osemnetwork"} Osem Network
		%hr
		%a.twitter-timeline{href: "https://twitter.com/osemnetwork", "data-widget-id" => "270974553793110016"} Tweets by @osemnetwork