.row
	.col-md-8
		.movie.latest
			- @featured.each do |f|
				= link_to genre_show_path(f, sort: f.genre.slug) do
					.gradient
					= image_tag(f.header_image_url(:standard), class: "img-responsive")
					.watch
						= link_to "Watch Now", genre_show_path(f, sort: f.genre.slug), class: "btn btn-sm btn-primary"
					.mini-desc
						%h4= f.title
						%p=h truncate(f.description, length: 200)
		%hr
		%h4 Latest Movie
		- @published_only.each do |p|
			.movie.small-movie.effect{class: cycle('', '', 'last')}
				.mask
				= link_to genre_show_path(p, sort: p.genre.slug) do
					.gradient
					= image_tag(p.poster_url(:thumb), class: "img-responsive")
					.mini-desc2
						%h4= p.title
	.col-md-4
		= render partial: "sidebar_right"