- content_for :title do
	KakiTube
- content_for :meta_tags do
	= render :partial => 'application/meta_tags',       |
			 :locals => {                                     |
				 :type => "website",                            |
				 :title => "KakiTube",          |
				 :url => request.url,                           |
				 :description => "Kaki Tube is a revolutionary website that gives users variance of choice to watch TV Series online.",    |
				 :canonical => request.url,                     |
				 :og_title => "KakiTube",       |
				 :og_description => "Kaki Tube is a revolutionary website that gives users variance of choice to watch TV Series online.", |
				 :og_image => ""        |
			}                                                 |
.row
	.col-md-12.hidden-lg.hidden-md
		= form_tag search_path, class: "", :method => :get do
			.input-group
				= text_field_tag :q, params[:q], class: "form-control input-sm", placeholder: "Search by Movie/TV Series title"
				%span.input-group-btn
					= submit_tag "Search", :name => nil, class: "btn btn-primary btn-sm"
		%hr
.row
	.col-md-8
		.movie.latest
			/ - cache "featured_articles", expires_in: 24.hours do
			- @featured.each do |f|
				= link_to genre_show_path(f, sort: f.genre.slug) do
					.gradient
					= image_tag(f.header_image_url(:standard), class: "img-responsive")
					.status
						- if f.is_featured?
							%span.label.label-danger
								FEATURED MOVIE
					.watch
						= link_to genre_show_path(f, sort: f.genre.slug), class: "btn btn-sm btn-primary" do
							%span.glyphicon.glyphicon-play-circle
							Watch Now
					.mini-desc
						%h4= f.title
						%p.hidden-xs=h truncate(f.description, length: 200)
		.row
			.col-md-12
				%hr
				%h4{style: "margin-bottom:20px;"}
					%span.glyphicon.glyphicon-th-list
					Latest Movie
					= link_to "View All", movies_path, class: 'btn btn-link btn-xs'
					.carousel
						- @carousel_movie.each do |c|
							.movie.latest
								= link_to genre_show_path(c, sort: c.genre.slug) do
									.gradient
									= image_tag(c.header_image_url(:standard), class: "img-responsive")
									.mini-desc
										%h4= c.title
										%p.hidden-xs=h truncate(c.description, length: 200)
				%hr
				- @published_only.each do |p|
					.movie.small-movie.effect{class: cycle('', '', '', '', 'last')}
						.mask
						= link_to genre_show_path(p, sort: p.genre.slug) do
							.gradient
							= image_tag(p.poster_url(:thumb), class: "img-responsive")
							.mini-desc2
								%h5= p.title
				=# will_paginate @published_only
		.row
			.col-md-12
				%hr
				%h4{style: "margin-bottom:20px;"}
					%span.glyphicon.glyphicon-th-list
					Latest TV Series
					= link_to "View All", tv_series_path, class: 'btn btn-link btn-xs'
					.carousel
						- @carousel_siri.each do |c|
							.movie.latest
								= link_to siri_genre_show_path(c, view: c.siri_genre.slug) do
									.gradient
									= image_tag(c.header_image_url(:standard), class: "img-responsive")
									.mini-desc
										%h4= c.title
										%p.hidden-xs=h truncate(c.description, length: 200)
				%hr
				- @siris.each do |siri|
					.movie.small-movie.effect{class: cycle('', '', '', '', 'last')}
						.mask
						= link_to siri_genre_show_path(siri, view: siri.siri_genre.slug) do
							.gradient
							= image_tag(siri.poster_url(:thumb), class: "img-responsive")
							.status
								- if siri.is_on_going?
									%span.label.label-warning
										= siri.status
								- elsif siri.is_completed?
									%span.label.label-primary
										= siri.status
							.mini-desc2
								%h5= siri.title
				=# will_paginate @siris
	.col-md-4
		= render partial: "sidebar_right"