- content_for :title do
	Kakitube.com | Free Movies & Tv shows Streaming Portal
- content_for :meta_tags do
	= render :partial => 'application/meta_tags',       |
			 :locals => {                                     |
				 :type => "website",                            |
				 :title => "KakiTube | Variance of choice to watch Movies & TV Series online",          |
				 :url => request.url,                           |
				 :description => "Kaki Tube is a revolutionary website that gives users variance of choice to watch TV Series online.",    |
				 :canonical => request.url,                     |
				 :og_title => "KakiTube | Variance of choice to watch Movies & TV Series online",       |
				 :og_description => "Kaki Tube is a revolutionary website that gives users variance of choice to watch TV Series online.", |
				 :og_image => ""        |
			}                                                 |
.row
	.col-md-12.hidden-lg.hidden-md
		= form_tag search_path, class: "", :method => :get do
			.input-group
				= text_field_tag :q, params[:q], class: "form-control input-sm", placeholder: "Search by Movie/TV Series title"
				%span.input-group-btn
					= submit_tag "Search", :name => nil, class: "btn btn-primary btn-sm"
		%hr
.row
	.col-md-8
		.movie.latest
			- @featured.each do |f|
				= link_to genre_show_path(f, sort: f.genre.slug) do
					.gradient
					= image_tag(f.header_image_url(:standard), class: "img-responsive")
					.status
						- if f.is_featured?
							%span.label.label-danger
								FEATURED MOVIE
					.watch
						= link_to genre_show_path(f, sort: f.genre.slug), class: "btn btn-sm btn-primary" do
							%span.glyphicon.glyphicon-play-circle
							Watch Now
					.mini-desc
						%h4= f.title
						%p.hidden-xs=h truncate(f.description, length: 200)
		- cache "movies-list", skip_digest: true do
			.row
				.col-md-12
					%hr
					%h4{style: "margin-bottom:20px;"}
						%span.glyphicon.glyphicon-th-list
						Latest Movie
						= link_to "View All", movies_path, class: 'btn btn-link btn-xs'
						.carousel
							- @carousel_movie.each do |c|
								.movie.latest
									= link_to genre_show_path(c, sort: c.genre.slug) do
										.gradient
										= image_tag(c.header_image_url(:standard), class: "img-responsive")
										.mini-desc
											%h4= c.title
											%p.hidden-xs=h truncate(c.description, length: 200)
					%hr
					- @published_only.each do |p|
						.movie.small-movie.effect{class: cycle('', '', '', '', 'last')}
							.mask
							= link_to genre_show_path(p, sort: p.genre.slug) do
								.gradient
								= image_tag(p.poster.thumb.url, class: "img-responsive")
								.mini-desc2
									%h5= p.title
			= link_to movies_path, class: 'btn btn-default btn-block' do
				.glyphicon.glyphicon-repeat.small
				Load More Movies
		- cache "series-list", skip_digest: true do
			.row
				.col-md-12
					%hr
					%h4{style: "margin-bottom:20px;"}
						%span.glyphicon.glyphicon-th-list
						Latest TV Series
						= link_to "View All", tv_series_path, class: 'btn btn-link btn-xs'
						.carousel
							- @carousel_siri.each do |c|
								.movie.latest
									= link_to siri_genre_show_path(c, view: c.siri_genre.slug) do
										.gradient
										= image_tag(c.header_image.standard.url, class: "img-responsive")
										.mini-desc
											%h4= c.title
											%p.hidden-xs=h truncate(c.description, length: 200)
					%hr
					- @siris.each do |siri|
						.movie.small-movie.effect{class: cycle('', '', '', '', 'last')}
							.mask
							= link_to siri_genre_show_path(siri, view: siri.siri_genre.slug) do
								.gradient
								= image_tag(siri.poster.thumb.url, class: "img-responsive")
								.status
									- if siri.is_on_going?
										%span.label.label-warning
											= siri.status
									- elsif siri.is_completed?
										%span.label.label-primary
											= siri.status
								.mini-desc2
									%h5= siri.title
			= link_to tv_series_path, class: 'btn btn-default btn-block' do
				.glyphicon.glyphicon-repeat.small
				Load More TV Series
		- cache "anime-list", skip_digest: true do
			.row
				.col-md-12
					%hr
					%h4{style: "margin-bottom:20px;"}
						%span.glyphicon.glyphicon-th-list
						Latest Anime
						= link_to "View All", anime_series_path, class: 'btn btn-link btn-xs'
						.carousel
							- @carousel_anime.each do |c|
								.movie.latest
									= link_to anime_genre_show_path(c, anime_view: c.anime_genre.slug) do
										.gradient
										= image_tag(c.header_image.standard.url, class: "img-responsive")
										.mini-desc
											%h4= c.title
											%p.hidden-xs=h truncate(c.description, length: 200)
					%hr
					- @animes.each do |anime|
						.movie.small-movie.effect{class: cycle('', '', '', '', 'last')}
							.mask
							= link_to anime_genre_show_path(anime, anime_view: anime.anime_genre.slug) do
								.gradient
								= image_tag(anime.poster.thumb.url, class: "img-responsive")
								.status
									- if anime.is_on_going?
										%span.label.label-warning
											= anime.status
									- elsif anime.is_completed?
										%span.label.label-primary
											= anime.status
								.mini-desc2
									%h5= anime.title
			= link_to anime_series_path, class: 'btn btn-default btn-block' do
				.glyphicon.glyphicon-repeat.small
				Load More Anime
		- cache "asian-list", skip_digest: true do
			.row
				.col-md-12
					%hr
					%h4{style: "margin-bottom:20px;"}
						%span.glyphicon.glyphicon-th-list
						Latest Asian Drama
						= link_to "View All", asian_drama_path, class: 'btn btn-link btn-xs'
						.carousel
							- @carousel_asian.each do |c|
								.movie.latest
									= link_to asian_genre_show_path(c, asian_view: c.asian_genre.slug) do
										.gradient
										= image_tag(c.header_image.standard.url, class: "img-responsive")
										.mini-desc
											%h4= c.title
											%p.hidden-xs=h truncate(c.description, length: 200)
					%hr
					- @asians.each do |asian|
						.movie.small-movie.effect{class: cycle('', '', '', '', 'last')}
							.mask
							= link_to asian_genre_show_path(asian, asian_view: asian.asian_genre.slug) do
								.gradient
								= image_tag(asian.poster.thumb.url, class: "img-responsive")
								.status
									- if asian.is_on_going?
										%span.label.label-warning
											= asian.status
									- elsif asian.is_completed?
										%span.label.label-primary
											= asian.status
								.mini-desc2
									%h5= asian.title
			= link_to asian_drama_path, class: 'btn btn-default btn-block' do
				.glyphicon.glyphicon-repeat.small
				Load More Asian Drama
	.col-md-4
		= render partial: "sidebar_right"
%hr
