- content_for :title do
	KakiTube
- content_for :meta_tags do
	= render :partial => 'application/meta_tags',       |
       :locals => {                                     |
         :type => "website",                            |
         :title => "KakiTube",          |
         :url => request.url,                           |
         :description => "Kaki Tube is a revolutionary website that gives users variance of choice to watch TV Series online.",    |
         :canonical => request.url,                     |
         :og_title => "KakiTube",       |
         :og_description => "Kaki Tube is a revolutionary website that gives users variance of choice to watch TV Series online.", |
         :og_image => ""        |
      }                                                 |


.row
	.col-md-8
		.movie.latest
			- @featured.each do |f|
				= link_to genre_show_path(f, sort: f.genre.slug) do
					.gradient
					= image_tag(f.header_image_url(:standard), class: "img-responsive")
					.watch
						= link_to "Watch Now", genre_show_path(f, sort: f.genre.slug), class: "btn btn-sm btn-primary"
					.mini-desc
						%h4= f.title
						%p=h truncate(f.description, length: 200)
		%hr
		%h4 Latest Movie
		- @published_only.each do |p|
			.movie.small-movie.effect{class: cycle('', '', 'last')}
				.mask
				= link_to genre_show_path(p, sort: p.genre.slug) do
					.gradient
					= image_tag(p.poster_url(:thumb), class: "img-responsive")
					.mini-desc2
						%h4= p.title
		= will_paginate @published_only
	.col-md-4
		= render partial: "sidebar_right"