- content_for :title do
	KakiTube | #{@post.title}
- content_for :meta_tags do
	= render :partial => 'application/meta_tags',       |
       :locals => {                                     |
         :type => "website",                            |
         :title => "#{@post.title}",          |
         :url => request.url,                           |
         :description => "#{@post.description}",    |
         :canonical => request.url,                     |
         :og_title => "#{@post.title}",       |
         :og_description => "#{@post.description}", |
         :og_image => "#{image_url(@post.try(:poster))}"        |
      }                                                 |

.row
	.col-md-8
		.page-header
			%h2= @post.title
		.row
			.col-md-4
				= image_tag(@post.poster_url(:standard), class: "img-responsive")
			.col-md-8
				%p= @post.description
				.row
					.col-md-6
						%p
							%strong Director
							%p= @post.director
					.col-md-6
						%p
							%strong Actors
							%p= @post.actors
				.row
					.col-md-6
						%p
							%strong Language
							%p= @post.language
					.col-md-6
						%p
							%strong Country
							%p= @post.country
				.row
					.col-md-4
						%p
							%strong Metascore
							%p= @post.metascore? ? @post.metascore : "N/A"
					.col-md-4
						%p
							%strong IMDB Rating
							%p= @post.imdbrating? ? @post.imdbrating : "N/A"
					.col-md-4
						%p
							%strong IMDB Votes
							%p= @post.imdbvotes? ? @post.imdbvotes : "N/A"
				%table.table.table-bordered
					%tbody
						%tr
							%td.col-md-3
								%center
									%strong Year
									%br/
									%span.label.label-default= @post.year
							%td.col-md-3
								%center
									%strong Rated
									%br/
									%span.label.label-default= @post.rated
							%td.col-md-3
								%center
									%strong Released
									%br/
									%span.label.label-default= @post.released
							%td.col-md-3
								%center
									%strong Runtime
									%br/
									%span.label.label-default= @post.runtime
		%hr
		.btn-group.btn-group-justified
			.btn-group.btn-group-lg
				%button{"data-toggle" => "modal", "data-target" => ".trailer", class: "btn btn-default"} Watch Trailer
			.btn-group.btn-group-lg
				%button{"data-toggle" => "modal", "data-target" => ".video", class: "btn btn-primary"} Watch Full Video
		.video.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "Video", "aria-hidden" => true}
			.modal-dialog{style: "width:670px;"}
				.modal-content
					.modal-header
						%button.close{type: "button", "data-dismiss" => "modal", "aria-label" => "Close"}
							%span{"aria-hidden" => true} &times;
						%h4.modal-title{id: "trailer"} #{@post.title}
					.modal-body
						.embed-responsive.embed-responsive-16by9
							.embed-responsive-item= @post.embed.html_safe
					.modal-footer
						%button.btn.btn-default{"data-dismiss" => "modal"} Close
		.trailer.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "Trailer", "aria-hidden" => true}
			.modal-dialog{style: "width:670px;"}
				.modal-content
					.modal-header
						%button.close{type: "button", "data-dismiss" => "modal", "aria-label" => "Close"}
							%span{"aria-hidden" => true} &times;
						%h4.modal-title{id: "trailer"} Trailer of #{@post.title}
					.modal-body
						.embed-responsive.embed-responsive-16by9
							%iframe.embed-responsive-item{width: 640, height: 360, src: "http://www.youtube.com/embed/#{@post.trailer}?rel=0&showinfo=0&iv_load_policy=3&autoplay=0", frameborder: 0, allowfullscreen: "allowfullscreen"}
					.modal-footer
						%button.btn.btn-default{"data-dismiss" => "modal"} Close
	.col-md-4
		= render partial: "sidebar_right"