= form_for @siri_genre, remote: true, html: { class: "form-inline" } do |f|
	- if @siri_genre.errors.any?
		.alert.alert-danger.alert-dismissable
			%button.close{type: "button", 'data-dismiss' => 'alert', 'alert-hidden' => 'true'} &times;
			%strong
				= pluralize(@siri_genre.errors.count, "error")
				prohibited this page from being saved:
			%ul
				- @siri_genre.errors.full_messages.each do |msg|
					%li= msg
	.form-group
		%label Name
		= f.text_field :name, class: "form-control"
	= f.submit "Submit", name: "submit", class: "btn btn-primary"