.alert.alert-info.alert-dismissible.fade.in
	%button.close{"data-dismiss" => "alert", "aria-label" => "Close"}
		%span{"aria-hidden" => "true"} &times;
	%strong Welcome, #{current_user.username}
	%p Have something to post? Great! Let's go!
.row
	.col-md-4
		%center
			%p= image_tag('Clipboard@2x.png', class: "img-responsive")
			%p Add/Edit/Delete your posts
			= link_to "Manage My Post", posts_path, class: "btn btn-primary btn-lg"
	.col-md-4
		%center
			%p= image_tag('Dude@2x.png', class: "img-responsive")
			%p Manage your user
			= link_to "Manage User", users_path, class: "btn btn-primary btn-lg"
	.col-md-4
		%center
			%p= image_tag('Pensils@2x.png', class: "img-responsive")
			%p Manage your movie genre
			= link_to "Manage Genre", genres_path, class: "btn btn-primary btn-lg"