- content_for :title do
	Kakitube.com | Post List
- content_for :meta_tags do
	= render :partial => 'application/meta_tags', :locals => { :type => "website", :title => "KakiTube | Post List", :url => request.url, :description => "KakiTube", :canonical => request.url, :og_title => "KakiTube | Post List", :og_description => "KakiTube" }
	
/ Page Content
.container
	.row
		.col-lg-12
			.page-header
				%h1 Post List
	.row
		.col-md-4
			= render partial: "sidebar"
		.col-md-8
			.embed-responsive.embed-responsive-16by9
				.embed-responsive-item= @post.embed.html_safe
			%h4
				= @post.title
				%span.badge= @post.genre.name
			%p= @post.description
			%hr
			%button{"data-toggle" => "modal", "data-target" => ".trailer", class: "btn btn-primary btn-block"}
				%span.glyphicon.glyphicon-play
				Watch Trailer
			.trailer.modal.fade.cls-you{tabindex: -1, role: "dialog", "aria-labelledby" => "Trailer", "aria-hidden" => true}
				.modal-dialog
					.modal-content
						.modal-header
							%button.close{type: "button", "data-dismiss" => "modal", "aria-label" => "Close"}
								%span{"aria-hidden" => true} &times;
							%h4.modal-title{id: "trailer"} Trailer of #{@post.title}
						.modal-body
							.embed-responsive.embed-responsive-16by9
								%iframe.embed-responsive-item{width: 640, height: 360, src: "http://www.youtube.com/embed/#{@post.trailer}?rel=0&showinfo=0&iv_load_policy=3&autoplay=0", frameborder: 0, allowfullscreen: "allowfullscreen"}
						.modal-footer
							%button.btn.btn-default{"data-dismiss" => "modal"} Close
			%hr
			%table.table.table-bordered
				%tbody
					%tr
						%td.col-md-3
							%center
								%strong Year
								%br/
								%span.label.label-default= @post.year
						%td.col-md-3
							%center
								%strong Rated
								%br/
								%span.label.label-default= @post.rated
						%td.col-md-3
							%center
								%strong Released
								%br/
								%span.label.label-default= @post.released
						%td.col-md-3
							%center
								%strong Runtime
								%br/
								%span.label.label-default= @post.runtime
			.row
				.col-md-6
					%p
						%strong Director
						%p= @post.director
				.col-md-6
					%p
						%strong Actors
						%p= @post.actors
			.row
				.col-md-6
					%p
						%strong Language
						%p= @post.language
				.col-md-6
					%p
						%strong Country
						%p= @post.country
			.row
				.col-md-4
					%p
						%strong Metascore
						%p= @post.metascore
				.col-md-4
					%p
						%strong IMDB Rating
						%p= @post.imdbrating
				.col-md-4
					%p
						%strong IMDB Votes
						%p= @post.imdbvotes
			%hr
			= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary"

