.page-header
  %h1 Admin Activities
.row
  .col-md-8
    - @activities.each do |activity|
      .activity
        - if activity.key == "post.create" || activity.key == "siri.create" || activity.key == "season.create" || activity.key == "episode.create"
          %span.glyphicon.glyphicon-plus-sign
        - elsif activity.key == "post.update" || activity.key == "siri.update" || activity.key == "season.update" || activity.key == "episode.update"
          %span.glyphicon.glyphicon-pencil
        - elsif activity.key == "post.destroy" || activity.key == "siri.destroy" || activity.key == "season.destroy" || activity.key == "episode.destroy"
          %span.glyphicon.glyphicon-remove
        - elsif activity.key == "user.revoke"
          %span.glyphicon.glyphicon-exclamation-sign
        - elsif activity.key == "user.grant"
          %span.glyphicon.glyphicon-ok-sign
        - else
          %span.glyphicon.glyphicon-question-sign
        = activity.owner.username if activity.owner
        = render_activity activity
        %small
          #{ time_ago_in_words(activity.created_at) } ago
    = will_paginate @activities
  .col-md-4
    #admin-list.panel.panel-default
      .panel-heading
        %h3.panel-title List of Admin
      %ul.list-group
        - @admins.each do |admin|
          %li.list-group-item
            #{image_tag avatar_small_url(admin), alt: "#{admin.username}", class: "img-rounded"} #{admin.username}
            %small.pull-right
              last seen #{time_ago_in_words(admin.current_sign_in_at)} ago
    #admin-list.panel.panel-default
      .panel-heading
        %h3.panel-title Total Movie Posts
      %ul.list-group
        - @admins.each do |admin|
          %li.list-group-item
            #{image_tag avatar_small_url(admin), alt: "#{admin.username}", class: "img-rounded"} #{admin.username}
            %small.pull-right
              Total: #{@post.where(user_id: admin).count}
    #admin-list.panel.panel-default
      .panel-heading
        %h3.panel-title Total TV Series Posts
      %ul.list-group
        - @admins.each do |admin|
          %li.list-group-item
            #{image_tag avatar_small_url(admin), alt: "#{admin.username}", class: "img-rounded"} #{admin.username}
            %small.pull-right
              Total: #{@siri.where(user_id: admin).count}