= form_for @report, html: { class: "form-horizontal" } do |f|
  #request.panel-body
    - if @report.errors.any?
      .alert.alert.danger.alert-dismissable
        %button.close{type: "button", 'data-dismiss' => 'alert', 'alert-hidden' => 'true'} &times;
        %strong
          = pluralize(@report.errors.count, "error")
          prohibited this page from being saved:
        %ul
          - @report.errors.full_messages.each do |msg|
            %li= msg
    .row
      .col-md-8.col-md-offset-1
        .form-group
          = f.label :category, "Category", class: "col-md-2 control-label"
          .col-md-10
            = f.select :category, options_for_select([["-- Select one", ""], "Movies", "TV Series", "Anime Series", "Asian Drama"]), {}, :class => "form-control"
        .form-group
          = f.label :url, "URL", class: "col-md-2 control-label"
          .col-md-10
            = f.text_field :url, class: "form-control"
            %p.help-block.small For example: http://kakitube.com/movies/action/superman-return
        .form-group
          = f.label :content, "Message", class: "col-md-2 control-label"
          .col-md-10
            = f.text_area :content, class: "form-control", placeholder: "Message", rows: 6
  .panel-footer
    = f.submit "Submit", class: "btn btn-primary"
    = link_to "Cancel", root_path, class: "btn btn-default"
