!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{:charset => "UTF-8"}/
		%title= (title = yield :title).blank? ? "Kakitube.com | Free Movies & Tv shows Streaming Portal" : title
		%meta{:content => "kakitube, movies, drama, horror, wayang, imdb review, reviews, sharing, trailers, ratings, information", :name => "keywords"}/
		%meta{:content => "Kaki Tube is a revolutionary website that gives users variance of choice to watch TV Series online.", :name => "description"}/
		%meta{:content => "KakiTube", :name => "author"}/
		%meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
		= yield :meta_tags
	%body{class: "#{body_class}", data: {no_turbolink: true}}
		= render partial: "ads_script"
		= render partial: "analytics"
		= render partial: "alert"
		= render partial: "navbar"
		.container
			= yield
		= render partial: "footer"
		:javascript
			var disqus_shortname = 'kakitube';
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();